:root {
    --c-bg: #151315;
    --c-el: #252428;
    --c-el-h: #353438;
    --c-cl: #aaaaaa;
    --c-tx: #303030;
    --c-cs: #c20808;
    --sp: 16px;
    --t-cl: #dddddd;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--t-cl);
    background-color: var(--c-bg);
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
}

a, span, p, div {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

a {
    color: var(--t-cl);
    text-decoration: none;
}

span {
    font-size: .82em;
    font-weight: lighter;
    letter-spacing: 0.35px;
}

#wrapper {
    height: 100%;
    /* position: absolute; */
    width: calc(100% - (var(--sp) * 2));
    height: calc(100% - (var(--sp) * 2));
    padding: var(--sp);

    display: flex;
    align-items: stretch;
    flex-direction: column;
}

div.module {
    background-color: var(--c-el);
}

#menu {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    
    top: -100vh;
    
    /* CPU-Expensive stuff */
    backdrop-filter: saturate(100%);
    -webkit-backdrop-filter: saturate(100%);
    -moz-backdrop-filter: saturate(100%);
    -ms-backdrop-filter: saturate(100%);
    
    transition: top 1s cubic-bezier(0.77, 0, 0.175, 1),
        backdrop-filter 1s cubic-bezier(0.77, 0, 0.175, 1),
        -webkit-backdrop-filter 1s cubic-bezier(0.77, 0, 0.175, 1),
        -moz-backdrop-filter 1s cubic-bezier(0.77, 0, 0.175, 1),
        -ms-backdrop-filter 1s cubic-bezier(0.77, 0, 0.175, 1);
}
#menu.show {
    top: 0;

    backdrop-filter: saturate(0%);
    -webkit-backdrop-filter: saturate(0%);
    -moz-backdrop-filter: saturate(0%);
    -ms-backdrop-filter: saturate(0%);
    
    transition: top 1s cubic-bezier(0.77, 0, 0.175, 1),
        backdrop-filter 1s cubic-bezier(0.77, 0, 0.175, 1),
        -webkit-backdrop-filter 1s cubic-bezier(0.77, 0, 0.175, 1),
        -moz-backdrop-filter 1s cubic-bezier(0.77, 0, 0.175, 1),
        -ms-backdrop-filter 1s cubic-bezier(0.77, 0, 0.175, 1);
}
#menu > ul {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#menu > ul > li {
    font-size: 1.5em;
    list-style: none;
    margin: calc(var(--sp) * 1.5);
}
/* #menu > ul > li::after {
    content: '';
    position: absolute;
    width: 50%;
    transform: translate(-50%, 1.9em);
    height: 1px;
    background-color: var(--c-cl);
} */

#wrapper > #header {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--sp);
}

#wrapper > #header > * {
    margin: 0 var(--sp);
}

#wrapper > #header > #hamburger {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 var(--sp);
    height: 100%;
    width: 24px;
    cursor: pointer;
}
#wrapper > #header > #hamburger > #menu-line:first-child {
    transform: rotate(0deg);
    transition: transform .75s cubic-bezier(0.77, 0, 0.175, 1);
}
#wrapper > #header > #hamburger > #menu-line:last-child {
    transform: rotate(-0deg);
    transition: transform .75s cubic-bezier(0.77, 0, 0.175, 1);
}
#wrapper > #header > #hamburger > #menu-line:nth-child(2) {
    transform: scale(1);
    transition: transform .75s cubic-bezier(0.77, 0, 0.175, 1);
}
#wrapper > #header > #hamburger.show > #menu-line:first-child {
    transform: translateY(8px) rotate(45deg);
    transition: transform .75s cubic-bezier(0.77, 0, 0.175, 1);
}
#wrapper > #header > #hamburger.show > #menu-line:last-child {
    transform: translateY(-8px) rotate(-45deg);
    transition: transform .75s cubic-bezier(0.77, 0, 0.175, 1);
}
#wrapper > #header > #hamburger.show > #menu-line:nth-child(2) {
    transform: scale(0);
    transition: transform .75s cubic-bezier(0.77, 0, 0.175, 1);
}

#wrapper > #header > #hamburger > #menu-line {
    height: 2px;
    width: 100%;
    background-color: white;
}

#content {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: var(--sp);
}

#content > #timeline {
    box-sizing: border-box;
    border: 0.5px solid rgb(120, 120, 120);
    overflow: hidden;

    grid-column: 1 / 6;

    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
}

#content > #timeline > #timeline-header {
    width: 100%;
    grid-row: 1 / 2;
    border-bottom: 0.5px solid rgb(120, 120, 120);

    display: grid;
    grid-template-columns: 92px repeat(6, 1fr) 92px;
}
#content > #timeline > #timeline-header > div.timeline-marker {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content > #timeline > #timeline-line {
    position: relative;
}

#content > #timeline > #timeline-line > div#cursor {
    position: absolute;
    height: 100%;
    top: 0;
    border: 1px solid white;
    background-color: var(--c-cl);
}

#content > #timeline > #timeline-line > div#cursor.blink {
    animation: blinking .85s linear 0s infinite alternate;
    transition: border 1s;
}

@keyframes blinking {
    0% {
        border: 1px solid white;
    }
    100% {
        border: 1px solid var(--c-el);
    }
}

#content > #timeline > #timeline-line > #timeline-line-bars {
    height: 100%;
    display: grid;
    grid-template-columns: 92px repeat(12, 1fr) 92px;
}

#content > #timeline > #timeline-line > #timeline-line-bars > .timeline-line-section {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-right: 0.5px solid rgb(120, 120, 120);
}

#content > #timeline > #timeline-line > #timeline-line-bars > .timeline-line-section.spacer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: calc(var(--sp) * 4);
}

#content > #timeline > #timeline-line > #timeline-line-bars > .timeline-line-section.spacer:first-child {
    align-items: center;
    text-align: center;
}
#content > #timeline > #timeline-line > #timeline-line-bars > .timeline-line-section.spacer:last-child {
    align-items: center;
    text-align: center;
}

#content > #timeline > #timeline-line > #timeline-line-bars > .timeline-line-section.spacer > .scale {
    font-size: 1vmin;
    color: var(--c-cl);
    letter-spacing: .2px;
    line-height: 1.5;
    padding: 0 calc(var(--sp) / 2) 0 calc(var(--sp) / 6);
    text-transform: uppercase;
}
#content > #timeline > #timeline-line > #timeline-line-bars > .timeline-line-section.spacer > .scale:last-child {
    z-index: 40;
}
#content > #timeline > #timeline-line > #timeline-line-bars > .timeline-line-section.spacer:first-child > .scale:last-child::before {
    width: 0;
    visibility: none;
    background-color: transparent;
}
#content > #timeline > #timeline-line > #timeline-line-bars > .timeline-line-section.spacer:last-child > .scale:last-child::before {
    width: 0;
    visibility: none;
    background-color: transparent;
}

#content > #timeline > #timeline-line > #timeline-line-bars > .timeline-line-section.spacer:last-child > .scale {
    padding: 0 calc(var(--sp) / 6) 0 calc(var(--sp) / 2);
}

#content > #timeline > #timeline-line > #timeline-line-bars > .timeline-line-section.spacer:first-child > .scale::before {
    content: '';
    background-color: var(--c-cl);
    height: 1px;
    width: 6px;
    position: absolute;
    margin-top: 4.2px;

    left: 86px;
}
#content > #timeline > #timeline-line > #timeline-line-bars > .timeline-line-section.spacer:last-child > .scale::before {
    content: '';
    background-color: var(--c-cl);
    height: 1px;
    width: 6px;
    position: absolute;
    margin-top: 4.2px;
    right: 86px;
}

#content > #timeline > #timeline-line > #timeline-line-bars > .timeline-line-section:last-child {
    border-right: none;
}

#content > #timeline > #timeline-line > #timeline-line-bars > .timeline-line-section:nth-child(2n) {
    border-right: 0.5px solid rgb(80, 80, 80);
}

#content > #timeline > #timeline-censor {
    border-top: 2px solid red;
    box-sizing: content-box;
    background-color: var(--c-bg);
    z-index: 20;

    box-shadow: 0px -10px 30px rgba(0, 0, 0, 1);
}

#content > #playback {
    min-height: 20%;
    max-height: 100%;
    grid-column: 6 / 8;
    
    display: grid;
    grid-template-rows: 4fr 1fr 64px;
    grid-gap: var(--sp);
}

#playback > #playback-container {
    height: auto;
}

#playback > #playback-endbutton.module > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#playback > #playback-container.module > #playback-content {
    width: 100%;
}

#playback > #playback-container.module > video {
    background-color: black;
}

#playback > #playback-container.module > #subtitles > span {
    padding: var(--sp);
    font-size: 0.9em;
    text-align: center;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

#playback > #playback-controls {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#playback > #playback-controls > * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-weight: lighter;
    font-size: .7em;
    text-align: center;
    width: 100%;
}
#playback > #playback-controls > * > * {
    display: block;
}

#playback > #playback-controls > .playback-control > svg {
    cursor: pointer;
}

#playback > #playback-controls > .playback-control > svg > .playback-control-button {
    fill: var(--t-cl);
}

#playback > #playback-controls > .playback-control > .playback-control-label {
    pointer-events: none;
    height: 24px;
}

#playback > #playback-endbutton.module:hover {
    background-color: var(--c-el-h);
}