#wrapper > #content {
    max-width: 960px;
    padding: calc(var(--sp) * 4) calc(var(--sp) * 4) 0 calc(var(--sp) * 4) ;

    display: grid;
    grid-template: 8fr 1fr / 1fr;

    height: 100%;
}

#wrapper > #content > #hero  {
    font-family: var(--f-el);
    font-size: 2.1em;

    margin-bottom: calc(var(--sp) * 4);
}
#wrapper > #content > #hero .ti-cursor {
    left: -1.3ch !important;
}

#wrapper > #content > a {
    display: inline-block;
    position: relative;
}

#wrapper > #content > a > div#continue {
    display: inline-block;
    
    font-family: 'IBM Plex Mono Light';
    font-size: .85em;

    text-decoration: underline;
    -moz-text-decoration: underline;

    padding: var(--sp) calc(var(--sp) * 1.75);
    margin: 0;

    opacity: 0;
    visibility: hidden;
    /* border: 0.5px solid rgba(255, 255, 255, 0.8); */
    color: var(--t-cl);
    background-color: transparent;

    cursor: pointer;

    transition: opacity .7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transition: opacity .7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition: opacity .7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -ms-transition: opacity .7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#wrapper > #content > a > #continue.show {
    opacity: 1;
    visibility: visible;

    transition: opacity .7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transition: opacity .7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition: opacity .7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -ms-transition: opacity .7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#wrapper > #content > a > div#continue:hover {
    background-color: var(--c-el-h);
}
#wrapper > #content > a > div#continue:active {
    background-color: var(--c-el-a);
}